<div class="loading-container">
  <div class="loading"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
<div class="cards-content">
  <button class="filter" mat-button color="accent" (click)="openDialogWindow()"><mat-icon>filter_alt</mat-icon>Szűrő</button>
  <div class="space">
    <div *ngFor = "let spectacle of spectacles | orderBy:'name'" class="card">
      <div class="margin">
        <mat-card class="spectacle-card">
          <mat-card-header>
            <img mat-card-avatar [src]="'data:image/JPG;base64,'+ spectacle?.county?.country?.flags?.data" alt="flag">
            <mat-card-title><a class="country-a-tag" href="/country/{{ spectacle?.county?.country?.id }}">{{ spectacle?.county?.country?.name }}</a></mat-card-title>
            <mat-card-subtitle><a class="county-a-tag" href="/county/{{ spectacle?.county?.id }}">{{ spectacle?.county?.name }}</a></mat-card-subtitle>
          </mat-card-header>
          <a class="spectacle-detail-link" href="/spectacles/{{ spectacle?.id }}" title="{{ spectacle?.name }}">
            <img mat-card-image [src]="'data:image/JPG;base64,'+ spectacle?.covers?.data" alt="cover" height="200">
            <mat-card-content>
              <mat-card-title class="spectacle-title">{{ spectacle?.name }}</mat-card-title>
              <div class="pin-image">
                <img [src]="spectacle?.pin?.image" width="25px" style="margin-left: 10px;" alt="{{ spectacle?.pin?.name }}" title="{{ spectacle?.pin?.name }}">
              </div>
              <hr>
              <p class="card-description">Tekintse meg a {{ spectacle?.name }} nevű látványosságot és tudjon meg róla többet...</p>
              <br>
            </mat-card-content>
          </a>
          <mat-card-content>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon>share</mat-icon>
                </mat-panel-title>
                <mat-panel-description>
                  Ossza meg ismerőseivel
                </mat-panel-description>
              </mat-expansion-panel-header>
              <a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:4200/spectacles/{{ spectacle?.id }}">
                <img src="/assets/img/social-icons/facebook.png" alt="facebook">
              </a>
              <a href="https://twitter.com/intent/tweet?text=TouristZone&url=http://localhost:4200/spectacles/{{ spectacle?.id }}">
                <img src="/assets/img/social-icons/twitter.png" alt="twitter">
              </a>
              <a href="https://www.linkedin.com/sharing/share-offsite/?url=http://localhost:4200/spectacles/{{ spectacle?.id }}">
                <img src="/assets/img/social-icons/linkedin.png" alt="linkedin">
              </a>
              <input disabled value="http://localhost:4200/spectacles/{{ spectacle?.id }}"/>
            </mat-expansion-panel>
          </mat-card-content>
          <mat-card-actions>
            <a href="/spectacles/{{ spectacle?.id }}"><button class="view-button" mat-raised-button color="primary">Megtekintés</button></a>
          </mat-card-actions>
        </mat-card>
      </div>
      </div>
    <div class="warning" *ngIf="spectacles?.length == 0">
      <mat-card>Nem található ilyen látványosság</mat-card>
    </div>
  </div>
  <div class="page-part">
    <div class="page-size">
      <span>Oldalméret: </span>
      <select (change)="updatePageSize($event.target.value)">
        <option selected>5</option>
        <option>10</option>
        <option>25</option>
      </select>
    </div>
    <div class="pagination">
      <ngb-pagination
      [(page)]="currentPage"
      [pageSize]="pageSize"
      [collectionSize]="totalRecords"
      (pageChange)="listSpectacles()"
      >
        <ng-template ngbPaginationPrevious>Előző</ng-template>
        <ng-template ngbPaginationNext>Következő</ng-template>
        <ng-template ngbPaginationFirst>Első</ng-template>
        <ng-template ngbPaginationLast>Utolsó</ng-template>
      </ngb-pagination>
    </div>
  </div>
</div>
</div>
