<div class="dashboard-content">
  <mat-toolbar color="primary">
    <a href="/dashboard"><img src="assets/img/logo/logo.png" alt="logo" width="100"></a>
    <div class="spacer"></div>
    <a href="/dashboard"><button mat-raised-button color="primary">DASHBOARD</button></a>
    <a href="/home"><button mat-raised-button color="primary">Vissza a főoldalra</button></a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <a href="/dashboard/spectaclelist">
        <button mat-menu-item>
          <span>Látványosságok</span>
        </button>
      </a>
      <a href="/dashboard/countrylist">
        <button mat-menu-item>
          <span>Országok</span>
        </button>
      </a>
      <a href="/dashboard/countylist">
        <button mat-menu-item>
          <span>Megyék</span>
        </button>
      </a>
      <a href="/dashboard/opinions">
        <button mat-menu-item>
          <span>Vélemények</span>
        </button>
      </a>
      <a href="/dashboard/pins">
        <button mat-menu-item>
          <span>Pinek</span>
        </button>
      </a>
    </mat-menu>
    <button mat-mini-fab color="primary" [matMenuTriggerFor]="admin">
      <mat-icon>account_circle</mat-icon>
    </button>
    <mat-menu #admin="matMenu">
      <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Kijelentkezés</button>
    </mat-menu>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>
<footer>
  <span>TouristZone &reg;</span>
</footer>
