<div class="about-us-container">
  <mat-card>
    <mat-card-title>Rólunk</mat-card-title>
    <mat-card-subtitle>
      A TourstZone egy webes alkalmazás ami tursztikai attrakciókat kínál minden látogatónak
    </mat-card-subtitle>
  </mat-card>
  <div class="content">
    <div class="description">
      <p>A látnivivalók három fő kategóriába vannak besorolva:</p>
    </div>
    <div class="pin">
      <mat-card>
        <mat-card-title><img src="assets/img/pins/natural.png" alt="natural" width="50"></mat-card-title>
        <mat-card-subtitle>
          Természeti látványosságok
        </mat-card-subtitle>
      </mat-card>
    </div>
    <div class="pin">
      <mat-card>
        <mat-card-title><img src="assets/img/pins/historical.png" alt="historical" width="50"></mat-card-title>
        <mat-card-subtitle>
          Történelmi látványosságok
        </mat-card-subtitle>
      </mat-card>
    </div>
    <div class="pin">
      <mat-card>
        <mat-card-title><img src="assets/img/pins/cultural.png" alt="cultural" width="50"></mat-card-title>
        <mat-card-subtitle>
          Kulturális látványosságok
        </mat-card-subtitle>
      </mat-card>
    </div>
  </div>
  <div class="presentation">
    <p>Válassza ki, hogy milyen jellegű látnivalók érdeklik és navigáljon velünk! Tudja meg, hogy milyen messze van Öntől a célpont és, hogy mennyi idejébe telik elérni oda!</p>
    <div class="image">
      <img src="assets/img/about/navigation.png" alt="navigation">
    </div>
  </div>
  <div class="texts">
    <img src="assets/img/logo/logo.png" alt="logo" width="120">
    <p>Az általunk kínált szolgáltatások közé tartozik a navigáció, a látványosságokról való információk megosztása a kirándulni vágyókkal, amiket bátran megoszthatunk barátainkkal.</p>
    <p>Kirándulásaink során gyakran jól jöhet egy olyan alkalmazás, ami által információt szeretnénk megtudni egy adott turisztikai attrakcióról, amennyiben nem szeretnénk különböző oldalak navigálásaval tölteni az időnkent hasznos módja, hogy az app segítségével megtudjuk az adott látványosságról több információit, történelmi hátterét és egyéb más információkat, mint például jegyárak, látogatási arány, nyitvatartás stb.</p>
    <p>A jövőben fejleszteni fogjuk alkalmazásunkat, hogy a legjobb szállás ajánlatot kapják meg a turisták és növelni tudjuk a turisztikai forgalmat az oldalunk által.</p>
    <p>Amennyiben tetszett Önnek az alkalmazásunk, kérjük, hogy küldjön egy visszajelzést számunkra. Fontos, hogy a jövőben az Ön igényeikhez igazítsuk oldalunkat.</p>
    <p>Köszönjük szépen!</p>
    <p>Várjuk visszajelzését</p>
    <p><mat-icon>south</mat-icon></p>
  </div>
</div>
