<div class="loading-container">
  <div class="loading"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
<div class="spectacle-container">
  <h1>{{ spectacle?.name }}</h1>
  <section class="images">
    <swiper [config]="config">
      <div class="swiper-wrapper">
          <div class="swiper-slide" *ngFor="let images of spectacle?.images">
              <img [src]="'data:image/JPG;base64,'+ images?.data" alt="{{ images?.id }}">
          </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </swiper>
  </section>
  <hr>
  <section class="map" style="padding: 10px 20px;">
    <div style="position: relative; height: 300px; width: 100%; margin: 0 auto;"
    class="spectacle-maps"
    id="spectacle-map"></div>
  </section>
  <hr>
  <section class="content-container">
    <div class="contentBox active spectacle-description">
      <h2>Leírás</h2>
      <div class="content-text description">
        <p [innerHTML]="spectacle?.description"></p>
      </div>
    </div>
    <div class="contentBox spectacle-history">
      <h2>Történelmi háttér</h2>
      <div class="content-text history">
        <p [innerHTML]="spectacle?.history"></p>
      </div>
    </div>
  </section>
  <hr>
  <section class="sources">
    <h2>Egyebek</h2>
    <div class="spectacle-others" *ngFor="let others of spectacle?.others">
      <div class="spectacle-other">
        <a [attr.href]="others?.source">{{ others?.name }}</a>
      </div>
    </div>
    <div class="spectacle-sources">
      <h2>Források</h2>
      <div class="spectacle-source" *ngFor="let sources of spectacle?.sources">
        <a [attr.href]="sources?.source">{{ sources?.name }}</a>
      </div>
    </div>
  </section>
</div>
</div>
