<form [formGroup]="countyForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-form-field class="county-id">
    <mat-label>ID</mat-label>
    <input matInput formControlName="id" placeholder="ID">
  </mat-form-field>
  <div formGroupName="country">
    <h3>Ország</h3>
    <select formControlName="id">
      <option>-- Válasszon országot --</option>
      <option  *ngFor ="let country of countryDto" value="{{ country?.id }}">{{ country?.name }}</option>
    </select>
  </div>
  <mat-form-field class="county-name">
    <mat-label>Megye neve</mat-label>
    <input matInput formControlName="name" placeholder="Megye neve">
  </mat-form-field>
  <button type="submit" class="mat-raised-button" [disabled]="countyForm.invalid">Mentés</button>
</form>
